body 
{
height: 100%;
width: 100%;	
background-image: url("BPBackground.jpg");
font-family: Georgia;
}
nav
{
font-family: Georgia;
font-size: 15px;
background-color: yellow;

padding: 1px;

}
nav > ul > li
{
font-family: Georgia;
display: inline;
padding-right: 175px;
}
h2
{
text-align:center;
}
#logo
{
	float: left;
}	
#Home
{
	 display: block;
    margin-left: auto;
    margin-right: auto;
}	

footer {
    position: fixed;
	padding: 1px;
    left: 0;
    bottom: 0;
	height: 15%;
    width: 100%;
    background-color: yellow;
	color: black;
    text-align: center;
	font-family: Georgia;
	font-size: 15px;
